@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, 
del, dfn, em, font, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, 
b, u, i, center, 
dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td { 
margin: 0; 
padding: 0; 
border: 0; 
outline: 0; 
font-size: 100%; 
vertical-align: baseline; 
background: transparent; 
} 
html, body{height: 100%;}
body{font-family: Arial; color: #000;}
a {color: #000;}
a: hover{text-decoration: none;}
img {border: 0;}

.b_conteiner{width: 100%; min-height: 100%;}
.b_band{width: 960px; min-height: 400px; margin: 0 auto; border: 1px solid red;}


	.tile_content{overflow: hidden;}

		.itemtile_main{width: 100%; height: 100%; position: absolute;}


		.b_itemtile{position: absolute; margin: 0 0 1% 1%; background: #aaa;}
		
		.b_itemtile_1_1{width: 24%; height: 0px;}
		.b_itemtile_1_2{width: 24%; height: 0px;}
		.b_itemtile_2_1{width: 49%; height: 0px;}
		.b_itemtile_2_2{width: 49%; height: 0px;}
		.b_itemtile_1_3{width: 24%; height: 0px;}
		.b_itemtile_3_1{width: 74%; height: 0px;}
		.b_itemtile_1_4{width: 24%; height: 0px;}
		.b_itemtile_4_1{width: 100%; height: 0px;}
